<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>

  <connectionStrings>
    <!--SQLServer数据库的连接字符串-->
    <!--天杰数据库-->
    <!--<add name="npgsql" providerName="System.Data.SqlClient"  connectionString="Data Source=120.26.60.55;Initial Catalog=ZX;User ID=ZX;Password=zx1234" />-->
    <!--天兮数据库-->
    <add name="npgsql" providerName="System.Data.SqlClient"  connectionString="Data Source=118.24.7.165;Initial Catalog=ZX;User ID=zx;Password=zx1234" />
  </connectionStrings>

  <appSettings> 
    <!--<add key="imageServicePath" value="http://118.25.108.201/"/>-->
    <add key="imageServicePath" value="http://118.24.7.165/"/>
    <!--<add key="imageService" value="http://erp50.com/Image/"/>-->
    <add key="imageService" value="http://www.tao2.xyz/Image/"/>
    <add key="BaiduMapKey" value="qkbnRyx7s6WuKYSAcdozWoj1V3jhviMv"/>
  </appSettings>




  <dataConfiguration defaultDatabase="npgsql">
    <providerMappings>
      <!--<add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntiLibContrib.Data.MySql" name="MySql.Data.MySqlClient"/>-->
    </providerMappings>
  </dataConfiguration>



  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="ZXService.WcfService.ZXAppService"  behaviorConfiguration="ServiceConfig">
        
        <endpoint address="" binding="webHttpBinding"
						  bindingConfiguration="webHttpBindingWithJsonP" behaviorConfiguration="webHttpBehavior"
						  contract="ZXService.IWcfService.IZXAppService">
        </endpoint> 
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>  
      </webHttpBinding>
       
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="ServiceConfig">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" policyVersion="Policy15"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.webServer>

    <directoryBrowse enabled="true" />
  </system.webServer>


  <!--<dependency>
    <groupId>org.apache.httpcomponents</groupId>
    <artifactId>httpclient</artifactId>
    <version>4.0</version>
  </dependency>-->

</configuration>




